$breakpoints: (
  "phone": 320px,
  "tablet": 768px,
  "desktop": 1200px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin font($fs: false, $fw: false, $lh: false) {
  @if $fs {
    font-size: $fs;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $lh {
    line-height: $lh / $fs;
  }
}

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 4/2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
